<form method="POST">
    <div>
        <label for="title">Title</label>
        <input id="title" type="text" name="title" placeholder="Title" />
    </div>
    <div>
        <label for="url">Url</label>
        <input id="url" type="text" name="url" placeholder="Url" />
    </div>
    <div>
        <label for="url">Description</label>
        <input id="description" type="text" name="description" placeholder="Description" />
    </div>
    <div>
        <label for="gsm">GSM</label>
        <input id="gsm" type="text" name="gsm" placeholder="GSM" />
    </div>


    <div>
        <label for="properties[allowBack]">AllowBack</label>
        <input id="properties[allowBack]" type="checkbox" name="properties[allowBack]" placeholder="AllowBack" />
    </div>
<div>
        <label for="status[isDeleted]">isDeleted</label>
        <input id="status[isDeleted]" type="checkbox" name="status[isDeleted]" placeholder="isDeleted" />
    </div>
    <div>
        <label for="status[isUnavaliable]">isUnavaliable</label>
        <input id="status[isUnavaliable]" type="checkbox" name="status[isUnavaliable]" placeholder="isUnavaliable" />
    </div>
    
    <div>
        <button type="submit">Save!</button>
    </div>
</form>